td input.disabled {
	display: none;
}
.nod_msg {
	float: right;
}

img#profile_photo {
	width: 80px;
}

output { 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	z-index: 1;
	width: 10px;
	height: 20px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#16b4f2), to(#0da6e2));
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: #999;
	height: 10px;
}
.cc-icon {
    background: url('../img/csg-523db8cdd0ece.png') no-repeat top left;
}
.sprite-clone{ background-position: 0 0; width: 16px; height: 18px; display: block;} 
.sprite-duplicate{ background-position: -21px 0; width: 16px; height: 18px; display:block;} 

.nowrap {
	white-space:nowrap;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.froala-box {
	background:white;
}
